<footer>  
  <img title="menu" src="./assets/images/ico-arrow.svg"
  />
    <nav><ul>
      <li><a class="main-nav-a" href=https://adalab.com>articles<a></a></li>
      <li><a class="main-nav-a" href=https://adalab.com>books</a></li>
      <li><a class="main-nav-a" href=https://adalab.com>events</a></li>
      <li><a class="main-nav-a" href=https://adalab.com>reasons</a></li>
      <li><a class="main-nav-a" href=https://adalab.com>tips</a></li>
    </ul>
    <ul>
      <li><a class="main-nav-a" href=https://adalab.com>twitter</a></li>
      <li><a class="main-nav-a" href=https://adalab.com>instagram</a></li>
      <li><a class="main-nav-a" href=https://adalab.com>mastodon.social</a></li>
    </ul></nav>
    <small>&copy 2017</small>
    <small>we ❤︎ love
    components</small>
</footer>
