<footer>  
 
 <div class="scroll-up"><img class="up" title="menu" src="./assets/images/ico-arrow.svg"
  /></div>
   <div class="flex">
     <nav class="links-1">
     <ul>
      <li><a class="main-nav-a" href=https://adalab.es>articles<a></a></li>
      <li><a class="main-nav-a" href=https://adalab.es>books</a></li>
      <li><a class="main-nav-a" href=https://adalab.es>events</a></li>
      <li><a class="main-nav-a" href=https://adalab.es>reasons</a></li>
      <li><a class="main-nav-a" href=https://adalab.es>tips</a></li>
    </ul></nav>
    <nav class="link-2"><ul>
      <li><a class="main-nav-a" href=https://adalab.es>twitter</a></li>
      <li><a class="main-nav-a" href=https://adalab.es>instagram</a></li>
      <li><a class="main-nav-a" href=https://adalab.es>mastodon.social</a></li>
    </ul></nav>
    <div class="copy"><small>&copy 2017</small>
    <small>we ❤︎ love
    components</small></div>  
  
    
    
</footer>
