
  <div class="scroll__arrow"> <a href="#header-image"
    ><img class="scroll__up" title="menu" src="./assets/images/ico-arrow.svg"
  /></a></div>
 
  <div class="contain">
     <nav class="contain__links--1">
     <ul>
      <li><a class="footer-nav-a" href=https://sofiabmanzano.github.io/Portfolio-Sofia-En-construccion-/ target="_blank">articles</a></li>
      <li><a class="footer-nav-a" href=https://sofiabmanzano.github.io/Portfolio-Sofia-En-construccion-/ target="_blank">books</a></li>
      <li><a class="footer-nav-a" href=https://sofiabmanzano.github.io/Portfolio-Sofia-En-construccion-/ target="_blank">events</a></li>
      <li><a class="footer-nav-a" href=https://sofiabmanzano.github.io/Portfolio-Sofia-En-construccion-/ target="_blank">reasons</a></li>
      <li><a class="footer-nav-a" href=https://sofiabmanzano.github.io/Portfolio-Sofia-En-construccion-/ target="_blank">tips</a></li>
    </ul></nav>
    <nav class="contain__links--2"><ul>
      <li><a class="footer-nav-a" href=https://sofiabmanzano.github.io/Portfolio-Sofia-En-construccion-/ target="_blank">twitter</a></li>
      <li><a class="footer-nav-a" href=https://sofiabmanzano.github.io/Portfolio-Sofia-En-construccion-/ target="_blank">instagram</a></li>
      <li><a class="footer-nav-a" href=https://sofiabmanzano.github.io/Portfolio-Sofia-En-construccion-/ target="_blank">mastodon.social</a></li>
    </ul></nav>
    <div class="contain__copy">  
      <ul>
        <li class="contain__copy--year">&copy 2021</li>
        <li class="contain__copy--we-love-components">we <span class="heart">❤︎</span> love components</li>
    </ul></div>
  </div>  
  
    
    

