<header id="header-image" class="header-image">
  <nav>
    <a class="menu" title="menu" href="https://adalab.es/"
      ><img class="menu__icon" title="menu" src="./assets/images/ico-menu.svg"
    /></a>
  </nav>
  <aricle class="article">
    <h1 class="article__title">anonymus proxy</h1>
    <p class="article__content">In hac habitasse platea disctumst.</p>
    <div class="article__down">
      <a href="#section2"
        ><img title="scroll-up" src="./assets/images/ico-scroll-down.svg"
      /></a></div
  ></aricle>
</header>
