<section class="section1">
  <small class="small_title">insomnia tips</small>
  <h2 class="section1__title">looking through a window</h2>
  <p class="section1__text">
    Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
    luctus ex dia nec lectus. Vivamus semper sodales rutrum.
  </p>
  <button class="button__go">
    <a
      class="button__go--text"
      href="https://www.instagram.com/sofiabmanzano/?hl=es"
      target="_blank"
      >go</a
    >
  </button>
</section>
