<section class="section2" id="section2">
  <h2 class="section2__title">3 reasons to purchase</h2>
  <include
    src="./reasons-article.html"
    name="Ut sed metus"
    text="Lorem ipsum dolor sit amet consectetur."
  ></include>
  <include
    src="./reasons-article.html"
    name="Curabitus ac erat"
    text="Lorem ipsum dolor sit amet consectetur."
  ></include>
  <include
    src="./reasons-article.html"
    name="Morbi dictum"
    text="Lorem ipsum dolor sit amet consectetur."
  ></include>

  <div class="container-button"><button class="reasons-button"><a class="reasons-nav-a" href=https://adalab.es>More reasons</a></button></div>
</section>
