.scroll__arrow {
  width: 45px;
  height: 45px;
  left: 50%;
  border-radius: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  background-color: var(--footer-color);
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  text-align: center;
  &__links--1 {
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 30px;
  }
  &__links--2 {
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 30px;
  }
  &__copy {
    font-family: var(--primary-font-family);
    color: var(--white-color);
    font-size: 14px;
  }
  &__we-love-components {
    font-family: var(--primary-font-family);
    color: var(--white-color);
    font-size: 14px;
    padding-bottom: 45px;
  }
}

.footer-nav-a {
  font-family: var(--primary-font-family);
  color: var(--white-color);
  text-decoration: none;
}

.heart {
  color: red;
}
/* -------- TABLET ------- */

@media all and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    &__copy {
      order: -5;
      text-align: left;
    }
    &__links {
      &--2 {
        text-align: left;
      }
      &--1 {
        text-align: left;
      }
    }
  }
}
