.menu {
  background-color: var(--footer-color);
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  &__icon {
    width: 16px;
    height: 14px;
  }
}
.header-image {
  background-image: url("../images/cover.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 568px;
  position: relative;
}
.article__title {
  height: 568px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  &--title {
    font-family: var(--title-font-family);
    text-transform: uppercase;
  }
  &--content {
    font-family: var(--primary-font-family);
  }
}
