.menu {
  background-color: #0271bc;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  &__icon {
    width: 16px;
    height: 14px;
  }
}
.header-image {
  background-image: url("../images/cover.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.article {
  height: 100vh;
  padding-bottom: 53px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  &__title {
    font-family: var(--title-font-family);
    text-transform: uppercase;
    word-spacing: 900px;
    text-align: center;
    font-size: 42px;
    color: var(--white-color);
    padding-bottom: 10px;
  }
  &__content {
    color: var(--white-color);
    text-align: center;
    font-family: var(--primary-font-family);
    padding-bottom: 45px;
  }
  &__down {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
