.section1 {
  text-align: left;
  padding-top: 30px;
  padding-bottom: 45px;
  padding-right: 15px;
  padding-left: 15px;
  &__title {
    font-size: 24px;
    text-transform: capitalize;
    width: 290px;
    height: 60px;
    line-height: 1.25;
    font-family: var(--title-font-family);
  }
  &__text {
    color: #4a4a4a;
    font-size: 18px;
    margin-top: 15px;
    font-family: var(--primary-font-family);
  }
}
.small_title {
  color: var(--light-blue);
  text-transform: capitalize;
  font-size: 14px;
  font-family: var(--primary-font-family);
}
.button__go {
  width: 76px;
  height: 45px;
  justify-content: center;
  text-transform: capitalize;
  background-color: var(--white-color);
  text-decoration: none;
  border-radius: 22.5px;
  border: solid 2px var(--button-color);
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  &--text {
    padding: 20px;

    color: var(--button-color);
    font-size: 20px;
    font-family: var(--button-font-family);
  }
}
.button__go {
  transform: scale(1);
  transition: scale ease-in 1s, background-color ease-in 0.5s;

  &:hover {
    transform: scale(1.1);
    background-color: var(--button-color);
  }
  &:active {
    transform: scale(0.9);
  }
  &--text {
    transition: color ease-in 0.5s;
    &:hover {
      color: white;
    }
  }
}

/* -------- TABLET ------- */

@media all and (min-width: 768px) {
  .section1 {
    padding: 0px;
    margin-right: 39px;
    margin-left: 39px;
    margin-top: 30px;
    margin-bottom: 60px;
    &__title {
      width: 690px;
      height: 45px;
      padding-bottom: 30px;
    }
  }
  .button__go {
    width: 91px;
    height: 45px;
    justify-content: center;
    text-transform: capitalize;
    background-color: var(--white-color);
    text-decoration: none;
    border-radius: 22.5px;
    border: solid 2px var(--button-color);
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    &--text {
      padding-left: 50px;
      padding-right: 50px;
      color: var(--button-color);
      font-size: 20px;
      font-family: var(--button-font-family);
    }
  }
}
/* -------- DESKTOP ------- */

@media all and (min-width: 1200px) {
  .section1 {
    margin-right: 275px;
    margin-left: 275px;
    padding: 0px;
  }
  .button__go {
    width: 160px;
    height: 45px;
    justify-content: center;
    text-transform: capitalize;
    background-color: var(--white-color);
    text-decoration: none;
    border-radius: 22.5px;
    border: solid 2px var(--button-color);
    margin-top: 30px;
    &--text {
      padding: 20px;
      padding-left: 80px;
      padding-right: 80px;
      color: var(--button-color);
      font-size: 20px;
      font-family: var(--button-font-family);
    }
  }
}
