.section1 {
  text-align: left;

  padding-top: 30px;
  padding-bottom: 45px;
  &__title {
    font-size: 24px;
    text-transform: capitalize;
    width: 290px;
    height: 60px;
    line-height: 1.25;
    font-family: var(--title-font-family);
  }
  &__text {
    font-size: 18px;
    margin-top: 15px;
    font-family: var(--primary-font-family);
  }
}
.small_title {
  color: var(--light-blue);
  text-transform: capitalize;
  font-size: 14px;
  font-family: var(--primary-font-family);
}
.button__go {
  width: 76px;
  height: 45px;
  text-transform: capitalize;
  background-color: var(--white-color);
  text-decoration: none;
  border-radius: 22.5px;
  border: solid 2px var(--button-color);
  margin-top: 30px;
  &--text {
    color: var(--button-color);
    font-size: 20px;
    font-family: var(--primary-font-family);
  }
}
