.section2 {
  background-color: #eff9ff;
  height: 624px;

  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
}

.titles {
  font-size: 24px;
  text-transform: capitalize;
  font-family: var(--title-font-family);
}

.reasons-to-purchase {
  font-family: var(--title-font-family);
  padding-bottom: 45px;
  padding-right: 70px;
  padding-left: 70px;
}
.text {
  font-size: 18px;
  font-family: var(--primary-font-family);
}
.reasons-button {
  width: 184px;
  height: 45px;
  color: var(--white-color);
  font-size: 20px;
  background-color: var(--button-color);
  text-decoration: none;
  border-radius: 22.5px;
  border: solid 2px var(--button-color);
  margin-top: 30px;
  font-family: var(--primary-font-family);
}
